<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>マージ結果</title>
<style>
.flex {
	display: flex;
	justify-content: center;
}

.box {
	padding: 40px 40px;
	text-align: center;
}
</style>
</head>
<body>
	<div class="flex">
		<div class="box">
			<h1>■マージ結果</h1>
			<table border="1">
				<thead>
					<tr>
						<th>#</th>
						<th>開始</th>
						<th>終了</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="base,iterStat : ${newDurations.dateDurations}">
						<td th:text="${iterStat.count} + '.'"></td>
						<td th:text="${#temporals.format(base.from, 'yyyy/MM/dd')}"></td>
						<td th:text="${#temporals.format(base.to, 'yyyy/MM/dd')}"></td>
					</tr>
				</tbody>
			</table>
			<br />
			<a th:href="@{/}">マージ前の画面に戻る</a>
		</div>
	</div>
</body>
</html>