<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>マージ前の期間</title>
<style>
.flex {
	display: flex;
	justify-content: center;
}

.box {
	padding: 40px 40px;
	text-align: center;
}
</style>
</head>
<body>
	<div class="flex">
		<div class="box">
			<h1>■マージ前の期間</h1>
			<table border="1">
				<thead>
					<tr>
						<th>#</th>
						<th>開始</th>
						<th>終了</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="base,iterStat : ${baseDurations.dateDurations}">
						<td th:text="${iterStat.count} + '.'"></td>
						<td th:text="${#temporals.format(base.from, 'yyyy/MM/dd')}"></td>
						<td th:text="${#temporals.format(base.to, 'yyyy/MM/dd')}"></td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
		<div class="box">
			<h1>■マージしたい期間</h1>
			<form th:action="@{/merge}" method="post">
				<table border="1">
					<thead>
						<tr>
							<th>#</th>
							<th>開始</th>
							<th>終了</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="i : ${#numbers.sequence(0, 4)}">
							<td th:text="${i + 1} + '.'"></td>
							<td><input th:name="newDurations[__${i}__].newFrom"
								type="date"></input></td>
							<td><input th:name="newDurations[__${i}__].newTo"
								type="date"></input></td>
						</tr>
					</tbody>
				</table>
				<br /> <input type="submit" value="マージする"></input>
			</form>
		</div>
	</div>
</body>
</html>